<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>64</string>
					<key>EndingLineNumber</key>
					<string>40</string>
					<key>StartingColumnNumber</key>
					<string>63</string>
					<key>StartingLineNumber</key>
					<string>40</string>
					<key>Timestamp</key>
					<string>732095921.9162281</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeatherAppAppleWatch Watch App/Scenes/ForecastView/ForecastViewContent.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>!</string>
				<key>leading</key>
				<string>                ScrollView(.vertical, showsIndicators: false) {
                    ForEach(Array(groupedData.keys.sorted().enumerated()), id: \.1) { dayIndex, dateString in
                        let forecasts = groupedData[dateString]</string>
				<key>trailing</key>
				<string>
                        
                        LazyVGrid(columns: columns, spacing: 8) {
</string>
			</dict>
			<key>title</key>
			<string>there is ! why?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>64</string>
					<key>EndingLineNumber</key>
					<string>46</string>
					<key>StartingColumnNumber</key>
					<string>63</string>
					<key>StartingLineNumber</key>
					<string>46</string>
					<key>Timestamp</key>
					<string>732095956.206975</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AppleWeatherSwift/Scenes/ForecastView/ForecastViewContent.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>                ScrollView(.vertical, showsIndicators: false) {
                    ForEach(Array(groupedData.keys.sorted().enumerated()), id: \.1) { dayIndex, dateString in
                        let forecasts = groupedData[dateString]!</string>
				<key>trailing</key>
				<string>
                        
                        LazyVGrid(columns: columns, spacing: 8, pinnedViews: [.sectionHeaders]) {
</string>
			</dict>
			<key>title</key>
			<string>there is ! why?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>58</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>57</string>
					<key>Timestamp</key>
					<string>732526040.663002</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AppleWeatherSwift/Common/Model Data/SharedDataSource.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        sharedContainer = UserDefaults(suiteName: sharedSuiteName)!
</string>
				<key>leading</key>
				<string>    private init() {
        let sharedSuiteName = "group.stepanek.weatherapp"
</string>
				<key>trailing</key>
				<string>    }

    func saveCurrentResponse(_ response: CurrentResponse) {
</string>
			</dict>
			<key>title</key>
			<string>there is ! why?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>13986551184</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Library/Developer/Xcode/DerivedData/AppleWeatherSwift-ehtvfduifainrqdsjpqpewtenuok/Build/Intermediates.noindex/Previews/AppleWeatherSwift/Intermediates.noindex/AppleWeatherSwift.build/Debug-iphonesimulator/AppleWeatherSwift.build/Objects-normal/arm64/AppleWeatherSwift.abi.json</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Error: /Users/filipstepanek/Library/Developer/Xcode/DerivedData/AppleWeatherSwift-ehtvfduifainrqdsjpqpewtenuok/Build/Intermediates.noindex/Previews/AppleWeatherSwift/Intermediates.noindex/AppleWeatherSwift.build/Debug-iphonesimulator/AppleWeatherSwift.build/Objects-normal/arm64/AppleWeatherSwift.abi.json: No such file or directory</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
